:root {
  --pathEaterDeltaX: 100px;
  --pathEaterDeltaY: 100px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.color-1e {
  background-color: #1e1e1e;
}

.font-Poppins {
  font-family: "Poppins", sans-serif;
}

.font-Lato {
  font-family: "Lato", sans-serif;
}

.shortest-paths {
  background-color: #1e1e1e;
  width: 100%;
  height: 1200px;
  color: #a6a6a6;
}

.pathEater {
  animation-name: pathEaterMove;
  animation-duration: 450ms;
  animation-iteration-count: 1;
}

@keyframes pathEaterMove {
  from {
    fill: orangered;
    r: 8px;
    transform: translate(var(--pathEaterDeltaX), var(--pathEaterDeltaY));
  }

  50% {
    r: 10px;
  }

  to {
    fill: #ff008a;
    r: 8px;
    transform: translate(0px, 0px);
  }
}

.pathEaterBumping {
  animation-name: pathEaterBump;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
}

@keyframes pathEaterBump {
  from {
    fill: #ff008a;
    r: 8px;
  }

  30% {
    r: 20px;
    fill: orangered;
  }

  90% {
    r: 20px;
    fill: orangered;
  }

  to {
    fill: #ff008a;
    r: 8px;
  }
}

.pathEaterTriangleBump {
  animation-name: pathEaterTriangleBump;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
}

@keyframes pathEaterTriangleBump {
  from {
    transform: translate(0px, 0px);

    fill: #ff00b3;
  }

  30% {
    transform: translate(0px, -20px);
    fill: #3cff00;
  }

  90% {
    transform: translate(0px, -20px);
    fill: #3cff00;
  }

  to {
    transform: translate(0px, 0px);
    fill: #ff00b3;
  }
}
.navbar {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 1;
}

.navbar-link {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20px;
}

.intro-text {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 200px;
  font-size: 5vw;
  color: white;
  pointer-events: none;
}

.div2 {
  display: block;
  height: 1000px;
}
