:root {
  --pathEaterDeltaX: 100px;
  --pathEaterDeltaY: 100px;
  --transformOrigin: 0px;
  --triangleCenterX: 100px;
  --triangleCenterY: 100px;
  --spSvgOffsetX: 0px;
  --spSvgOffsetY: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.debug {
  display: inline-block;
  position: fixed;
  pointer-events: none;
  z-index: 10;
  color: darkgray;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.color-1e {
  background-color: #1e1e1e;
}

.font-Poppins {
  font-family: "Poppins", sans-serif;
}

.font-Lato {
  font-family: "Lato", sans-serif;
}

.shortest-paths {
  background-color: #131313;
  width: 100%;
  height: 1200px;
}

.shortest-paths-svg-offset {
  transform: translate(var(--spSvgOffsetX), var(--spSvgOffsetY));
}

.pathEater {
  animation-name: pathEaterMove;
  animation-duration: 450ms;
  animation-iteration-count: 1;
}

@keyframes pathEaterMove {
  from {
    fill: rgb(255, 68, 0);
    r: 8px;
    transform: translate(var(--pathEaterDeltaX), var(--pathEaterDeltaY));
  }

  50% {
    r: 10px;
  }

  to {
    fill: #ff008a;
    r: 8px;
    transform: translate(0px, 0px);
  }
}

/* Not used currently */
.pathEaterCenter {
  animation-name: pathEaterMoveIntoTriangle;
  animation-duration: 450ms;
  animation-iteration-count: 1;
}
/* Not used currently */
@keyframes pathEaterMoveIntoTriangle {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(var(--triangleCenterX), var(--triangleCenterY));
  }
}

.pathEaterBumping {
  animation-name: pathEaterBump;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
}

.pathEaterBumping {
  animation-name: pathEaterBump;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
}

@keyframes pathEaterBump {
  from {
    fill: #ff008a;
    r: 8px;
  }

  30% {
    r: 20px;
    fill: gold;
  }

  90% {
    r: 20px;
    fill: gold;
  }

  to {
    fill: #ff008a;
    r: 8px;
  }
}

.pathEaterTriangleBumping {
  animation-name: pathEaterTriangleBump;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
  transform-origin: var(--transformOrigin);
}

@keyframes pathEaterTriangleBump {
  from {
    transform: translate(0px, 0px);
    fill: #ffd700;
  }

  50% {
    transform: translate(0px, -20px);
    fill: #d4af37;
  }

  90% {
    transform: translate(0px, -20px);
    fill: #d4af37;
  }

  to {
    transform: translate(0px, 0px);
    fill: #ffd700;
  }
}

.pathEaterPointsBumping {
  animation-name: pathEaterPointsBump;
  animation-duration: 450ms;
  transform-origin: var(--transformOrigin);
  animation-iteration-count: infinite;
  fill: white;
}

@keyframes pathEaterPointsBump {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

.pathBumping {
  animation-name: pathBump;
  transform-origin: center;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
}

@keyframes pathBump {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(0.97);
  }

  to {
    transform: scale(1);
  }
}

.navbar {
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: white;
  background-color: #111111;
  pointer-events: none;
}

.navbar-link {
  padding-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  pointer-events: all;
}

.intro-text {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: white;
  pointer-events: none;
  z-index: 1;
}

.intro-text-1 {
  position: absolute;
  text-align: center;
  display: block;
  margin-bottom: 250px;
  bottom: 0;
  width: 100%;
}

.intro-text-2 {
  position: absolute;
  text-align: center;
  display: block;
  margin-bottom: 150px;
  bottom: 0;
  width: 100%;
}

.intro-text-3 {
  position: absolute;
  text-align: center;
  display: block;
  margin-bottom: 50px;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(#977d27, #ffe865);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Sonsie One", cursive;
  font-family: "Ranchers", cursive;
}

.div2 {
  display: block;
  height: 1000px;
}
