<!DOCTYPE html>

<html>
  <head>
    <title>Yuri Dubler Official</title>
    <meta name="charset" content="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Yuri Dubler" />
    <meta name="description" content="Yuri Dubler Official" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Ranchers&family=Sonsie+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      id="view-one"
      class="block color-1e shortest-paths"
      v-bind:style="{ height: screenHeight+'px'}"
    >
      <!-- <div class="debug">
        Desktop/Mobile: {{mobileOrDesktop}}<br />
        Orientation: {{orientation}}<br />
        Resize() Called:{{resizecalled}}<br />
        SVGOffsetX: {{svgOffsetX}}<br />
        SVGOffsetY: {{svgOffsetY}}<br />
        innerWidth: {{width}}<br />
        innerHeight: {{ height}}<br />
        width: {{ screenWidth }}<br />
        height: {{ screenHeight}}<br />
      </div> -->
      <div class="navbar">
        <div class="navbar-link inline-block">
          Resume
        </div>
        <div class="navbar-link inline-block">Portfolio</div>
        <div class="navbar-link inline-block">Sidearms</div>
      </div>

      <div class="intro-text font-Lato">
        Software Engineer.<br />
        <br />Web Developer.<br /><br />
        <div
          class="intro-text-paladin"
          v-bind:class="{ pathEaterTriangleBumping: pathEater.adjacent }"
        >
          Code Paladin.
        </div>
      </div>
      <div class="shortest-paths" v-bind:style="{ height: screenHeight + 'px'}">
        <svg
          version="1.1"
          baseProfile="full"
          xmlns="http://www.w3.org/2000/svg"
          v-bind:style="{ height: screenHeight + 'px'}"
          width="100%"
        >
          <g class="shortest-paths-svg-offset">
            <polygon
              v-for="triangle in triangles"
              v-on:click="mouseEnterTriangle(triangle.id)"
              :points="triangle.points"
              :fill="triangle.color"
              @mouseenter="mouseEnterTriangle(triangle.id)"
              @mouseleave="mouseLeaveTriangle(triangle.id)"
            ></polygon>

            <line
              v-for="line in lines"
              :x1="line.x1"
              :y1="line.y1"
              :x2="line.x2"
              :y2="line.y2"
              stroke="#1e1e1e"
              stroke-width="2"
              pointer-events="none"
            />
            <line
              v-if="mouseOnTriangle===true"
              v-for="line in mouseTriangleLines"
              :x1="line.x1"
              :y1="line.y1"
              :x2="line.x2"
              :y2="line.y2"
              stroke="#ff008a"
              stroke-width="5"
              pointer-events="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></line>

            <circle
              v-for="point in points"
              :cx="point.x"
              :cy="point.y"
              r="5"
              fill="black"
              stroke="darkgray"
              stroke-width="1"
            />

            <line
              v-for="path in pathLines"
              :x1="path.x1"
              :y1="path.y1"
              :x2="path.x2"
              :y2="path.y2"
              stroke="#1b2a3a"
              :stroke-width="path.width + 12"
              pointer-events="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <line
              v-for="path in pathLines"
              :x1="path.x1"
              :y1="path.y1"
              :x2="path.x2"
              :y2="path.y2"
              stroke="#D4AF37"
              :stroke-width="path.width"
              pointer-events="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            />

            <g class="pathEaterPointsBumping">
              <circle
                v-if="pathEater.adjacent === true"
                :cx="points[pathEater.point1].x"
                :cy="points[pathEater.point1].y"
                r="5"
                fill="white"
                stroke="#ffd700"
                stroke-width="2"
              />
              <circle
                v-if="pathEater.adjacent === true"
                :cx="points[pathEater.point2].x"
                :cy="points[pathEater.point2].y"
                r="5"
                fill="white"
                stroke="#ffd700"
                stroke-width="2"
              />
              <circle
                v-if="pathEater.adjacent === true"
                :cx="points[pathEater.point3].x"
                :cy="points[pathEater.point3].y"
                r="5"
                fill="white"
                stroke="#ffd700"
                stroke-width="2"
              />
            </g>

            <polygon
              v-if="mouseOnTriangle===true && pathEater.adjacent === true"
              class="pathEaterTriangleBumping"
              :points="mouseTrianglePoints"
              fill="#ffd700"
              pointer-events="none"
            ></polygon>

            <line
              v-if="mouseOnTriangle===true && pathEater.adjacent === true"
              v-for="line in mouseTriangleLines"
              class="pathEaterTriangleBumping"
              :x1="line.x1"
              :y1="line.y1"
              :x2="line.x2"
              :y2="line.y2"
              stroke="#fff09a"
              stroke-width="2"
              pointer-events="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></line>

            <circle
              v-if="pathEater.adjacent === false"
              id="pathEaterMoving"
              v-bind:class="{ pathEater: pathEater.moving }"
              :cx="pathEater.x"
              :cy="pathEater.y"
              :fill="pathEater.color"
              r="8"
              stroke="white"
              stroke-width="2px"
              pointer-events="none"
            ></circle>

            <circle
              v-if="pathEater.adjacent === true"
              class="pathEaterBumping"
              :cx="pathEater.x"
              :cy="pathEater.y"
              :fill="pathEater.color"
              r="10"
              stroke="black"
              stroke-width="2"
              pointer-events="none"
            ></circle>
          </g>
        </svg>
      </div>
    </div>
    <div class="div2">Hello yall</div>

    <!-- <div id="view-two">
      {{ appName }}
    </div> -->

    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="../dist/main.js"></script>
  </body>
</html>
