<!DOCTYPE html>

<html>
  <head>
    <title>Yuri Dubler Official</title>
    <meta name="charset" content="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Yuri Dubler" />
    <meta name="description" content="Yuri Dubler Official" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      id="view-one"
      class="block color-1e shortest-paths"
      v-bind:style="{ height: screenHeight+'px'}"
    >
      <div class="navbar">
        <div class="navbar-link inline-block">
          Resume
        </div>
        <div class="navbar-link inline-block">Portfolio</div>
        <div class="navbar-link inline-block">Sidearms</div>
      </div>
      <div class="intro-text font-Lato">
        Software Engineer<br /><br />Web Developer.
      </div>
      <div class="shortest-paths" v-bind:style="{ height: screenHeight+'px'}">
        <svg
          version="1.1"
          baseProfile="full"
          v-bind:style="{ height: screenHeight+'px'}"
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
        >
          <polygon
            v-for="triangle in triangles"
            v-on:click="mouseEnterTriangle(triangle.point1, triangle.id)"
            :points="triangle.points"
            fill="#1e1e1e"
            @mouseenter="mouseEnterTriangle(triangle.point1, triangle.id)"
            @mouseleave="mouseLeaveTriangle(triangle.id)"
          ></polygon>
          <polygon
            v-if="mouseOnTriangle===true"
            :points="mouseTrianglePoints"
            fill="#1b2a3a"
            pointer-events="none"
          ></polygon>

          <line
            v-for="line in lines"
            :x1="line.x1"
            :y1="line.y1"
            :x2="line.x2"
            :y2="line.y2"
            stroke="#161616"
            stroke-width="2"
            pointer-events="none"
          />

          <circle
            v-for="point in points"
            :cx="point.x"
            :cy="point.y"
            r="9"
            fill="#161616"
            stroke="black"
            stroke-width="1"
          />
          <line
            v-for="path in pathLines"
            :x1="path.x1"
            :y1="path.y1"
            :x2="path.x2"
            :y2="path.y2"
            stroke="#1b2a3a"
            stroke-width="10"
            pointer-events="none"
          />
          <line
            v-for="path in pathLines"
            :x1="path.x1"
            :y1="path.y1"
            :x2="path.x2"
            :y2="path.y2"
            stroke="#ff008a"
            stroke-width="2"
            pointer-events="none"
          />
          <circle
            id="pathEaterMoving"
            v-bind:class="{ pathEater: pathEater.moving }"
            :style="cssVars"
            :cx="pathEater.x"
            :cy="pathEater.y"
            :fill="pathEater.color"
            r="8"
          ></circle>
        </svg>
      </div>
    </div>
    <div class="div2">Hello yall</div>

    <!-- <div id="view-two">
      {{ appName }}
    </div> -->

    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="../dist/main.js"></script>
  </body>
</html>
